<div>
    <h2>登入頁面</h2>
    <form (ngSubmit)="onSubmit()" style="text-align:center">
        <!-- <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password">
        <br> -->

        <label for="barCode">barCode:</label>
        <input type="barCode" id="barCode" [(ngModel)]="barCode" name="barCode">
        <br>
        <button type="submit">Login</button>
    </form>
</div>